*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #fff;
	color: black;
	font-size: 14px;
	height: auto;
	background: url('../css/img/subtle_dots.png');
	font-family: 'Lato', sans-serif;
}
.iphone{
	display: none;
}
.ipad{
	display: none;
}
.invisible{display: none;}
img{
	max-width: 100%;
}
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
	background: rgba(0,0,0,0.7);
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
	color: #eb00b1;
	border-bottom: 1px solid #eb00b1;
}
a.button{
	text-align: center;
	display: block;
	margin: 50px 0;
	color: #fff;
	width: 100%;
	background: #000000;
	padding: 15px;
}
a.button:hover{
	border: none;
	background: #000000;
	color: #eb00b1;
}
a.button-intro, #intro a.button{
	text-align: center;
	display: block;
	background: none;
	margin: 50px 0;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 2px solid white;
}
a.button-intro:hover,#intro a.button:hover{
	border: 2px solid white;
	background: rgba(0,0,0,0.5);
	color: #eb00b1;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.clear{
	clear: both;
}
.txt-align-right{
	text-align: right;
}
#trends:focus,#jobs:focus, #brands:focus, #compte:focus, #giftcard:focus, #aboutus:focus, #contact:focus{
outline: none;
}
h1 {
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}
h2 {
	padding-top: 20px;
	border-bottom: 1px solid #000000;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
}
ul.trends{
	list-style: none;
	margin: 0;
}
ul.trends li{
	float: left;
	width: 20%;
	padding: 0;
	margin: 0;

}
/* HEADER */
@keyframes color_up {
    from {
	background: rgba(0,0,0,0);
    }
    to {
	background: rgba(0,0,0,1);
    }
}
#header{
	width: 100%;
	min-height: 50px;
	background: rgba(0,0,0,0);
/*	border-bottom:1px solid #fff;
*/	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	width: 100%;
	z-index: 100;
}
#header.scrolling{
  animation-name: color_up;
  animation-duration: 1s;
	background: rgba(0,0,0,1);
}
.logo a{
	padding: 7px 5px 6px 0;
	display: inline-block;
	text-align: center;
}
.logo a:hover{
	border: none;
}
.logo,#menu,#langue{
	float: left;
}
.logo .icon-menu {
	margin: 10px 0;
	color: white;
	cursor: pointer;
}
#langue{
	font-style: italic;
	font-size: 10px;
	padding-top: 22px;
	list-style: none;
	height: 50px;
	text-align: right;
}
#menu ul#langue-hidden{
	font-size: 10px;
	text-align: center;
    width: 100%;
    background: #333;
}
#menu ul{
	min-height: 30px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 16px 0 0 10px;
}
#menu ul li {
	display: inline;
	margin: 0;
	padding: 0 15px 0 0;
}
#menu ul li:after {
	content: "·";
	color: white;
	position: absolute;
	margin-left: 8px;
}
#menu ul li:last-child:after {
	content: "";
	color: white;
	position: absolute;
	margin-left: 0;
}
#menu-header-top{
	width: 100%;
	height: 20px;
	text-align: right;
	font-style: italic;
	font-size: 10px;
	line-height: 10px;
	padding-top: 4px;
	margin:0;
}
#menu-header-top a{
	padding-left: 4px;
}
#menu-header-top a:hover{
	border: none;
}
/* INTRO */
#intro{

	background:url('../img/intro/intro-magasin.jpg') black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position: relative;
	color: white;
	padding-top: 120px;
	min-height: 555px;
}
#intro .container{
	z-index: 4;
}
#intro h1{
	color: yellow;
	margin-top: 60px;

}
@keyframes bounce{ from {bottom: 20px;} 50% {bottom: 25px;} to {bottom: 20px;} }
#intro .arrow{
	position: absolute;
	bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 100px;
	-webkit-animation: bounce 1s ease infinite;
	-o-animation: bounce 1s ease infinite;
	animation: bounce 1s ease infinite;
    z-index: 10;
}
#brands .arrow{
    text-align: center;
    width: 100%;
    font-size: 14px;
	color: blue;
	font-size: 40px;
}
#brands .arrow a{
	color: black;
}
#brands .arrow a:hover, #intro .arrow a:hover{
	border: none;
	color: #eb00b1;
}
/* PANEL SECTION */

section.panel{
	min-height: 500px;
	padding-bottom: 50px;
}
section.panel:nth-child(2n+1){
background: white;
}

.container-img{
	margin: 10px 0;
}

/* ACCORDION */
nav.nav-mag a{
	width: 20%;
	float: left;
	margin: 5px 0 20px 10px;
}
/* CSS */
 .gallery-mag{
  width: 100%;
  position: relative;
  list-style: none;
  margin: 0 auto 20px auto;
  text-align: left;
  width: 100%;
}
.gallery-mag li {
  float: left;
  width: 25%;
  height: 100%;
    cursor: pointer;
    line-height: 3em;
}

#fb-root {
    display: none;
}

#jobs{

}
#jobs h3{
	text-transform: uppercase;
	margin: 20px 0;
}

#aboutus{
		background: url('../img/aboutus/background-3.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: white;
}
#aboutus h2{
	border-bottom: white solid 1px;
}
/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
footer#copyright{
	padding: 10px 0;
	font-size: 12px;
	color: white;
	background: #000000;
	text-align: center;
}
footer p{
	margin: 15px 0 10px 0;
}
footer p.social{
	font-size: 25px;
}
footer a:hover{
	border: none;
}
footer span.heart{
	font-size: 12px;
}
.othersite{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}
.othersite a{
	border: none;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.desktop{display: none;}
	.covervid-wrapper{display: none;}
	#menu ul a{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	section.panel{
		min-height: 400px;
		padding-bottom: 50px;
	}
	body {
		padding-top: 0;
	}
	/* HEADER */
	#header{
		width: 100%;
		background: rgba(0,0,0,1);
		position:relative;
		width: 100%;
		min-height: 50px;
		z-index: 100;
	}

	.logo{
		padding: 10px 0 0 0;
		display: inline-block;
		text-align: center;
	}
	#langue{
		display: none;
	}
	#menu ul{
		min-height: 30px;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0;
	}
	#menu ul li {
		height: 30px;
		display: block;
		margin: 0;
		font: 12px;
		line-height: 30px;
		border-bottom: 1px dotted #bbb;
		padding: 0 0 0 0;
	}
	#menu ul li:after{
		content: none;
	}
	#menu ul li:last-child{
		border: none;
	}
	#menu ul li a:hover{
		border: none;
	}
	.ipad{
		display: inline-block;
	}
	div.eight.columns.omega.container-img{border-top: 2px solid #003552;}
	.gallery-mag {padding: 0;}
	.gallery-mag li {
	  width: 50%;
	}
	.txt-align-right{
		text-align: left;
	}
ul.trends li{
	float: left;
	width: 50%;
	padding: 0;
	margin: 0;

}
}
@media only screen and (max-width: 1159px) {
#othersite,#facebook{
	display: none;
}	
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.iphone{
		display: inline-block;
	}
	section.panel{
		min-height: 200px;
		padding-bottom: 50px;
	}
	#menu{
		display: none;
	}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 320px) {
}












